<p><strong>АКЦИЯ НАШЕГО АВТОТЕХЦЕНТРА</strong></p>

<div class="content-product-block-out">
<div class="content-img-block" style="width:350px;">
	<%= image_tag @akcii.image.url, width: '350x240', alt: @akcii.title %><%= @akcii.title %><br>
</div>
<p><strong><%= @akcii.title %></strong></p>
<p><%= @akcii.description.html_safe %></p>
</div>
&nbsp<br>
