<%= image_tag('/assets/transimission.jpg', :style => 'margin-top:39px;width:40%;float:left')%>

<%= Zamenamaslo.find(1).description.html_safe %>
<!--
<p><strong>Замена масла в автомобиле</strong></p>
<p>Замена масла в автомобиле должна проводиться на регулярной основе, только грамотный подход обеспечит долговечность двигателю. Если производить замену согласно определенным правилам, то процедура будет достаточно простой и легкой. Прежде чем заменить масло, необходимо провести подготовительные процедуры, что может занимать определенное время. В инструкции по авто должны быть указаны рекомендации касательно замены расходных материалов, то есть за основу в данном случае берутся требования изготовителя. </p>
<div class="content-img-block content-img-right"><img src='assets/posts/maslo2.jpg' alt="Основной уход за автомобилем - замена масла" />Основной уход за автомобилем - замена масла</div>
<p>Как правило, кроме базовых требований к замене масла, приводятся и определенные марки масел, а также есть ссылки на фирму изготовителя. Благодаря своевременной замене фильтра, также можно значительно увеличить срок службы двигателя и соответственно – автомобиля в целом. Масляные и воздушные фильтры подлежат замене. Если своевременно не провести замену фильтра, это может привести к необходимости дорогостоящего ремонта авто, к которому водитель не всегда готов.</p>
<p>В нашей компании специалисты оказывают качественные услуги по замене масел и фильтров, а при сотрудничестве с нами, вы получите ряд преимуществ:</p>
<ul>
  <li><span>Экономия денег. Мы понимаем, что теперь в стране очень сложная ситуация, поэтому вопрос экономии является актуальным для всех. Благодаря нашей компании, вы получите существенную экономию, потому что мы предлагаем демократичные цены.</span></li>
  <li><span>Экономия времени. Конечно, можно заниматься заменой расходных материалов и запасных частей самостоятельно, но это может быть произведено некачественно при незнании тонкостей работы, а также вам придется тратить время на эти процедуры. Обратившись к нам, вы сэкономите несколько часов своего драгоценного времени.</span></li>
  <li><span>Качество. Мы дорожим своей репутацией и всегда работаем на совесть, поэтому предлагаем только качественные услуги.</span></li>
  <li><span>Персонал. Наши сотрудники компетентны в любом вопросе и оперативно проведут работы по замене масла или двигателя в автомобиле любой марки и модели.</span></li>
</ul>

<p>Замена масла – это, на первый взгляд, традиционная процедура, однако при ее проведении важно владеть информацией о некоторых моментах:</p>
<ul>
  <li><span>Частота замены масла;</span></li>
  <li><span>Количество автомобильных часов, после которых нужно проводить замену;</span></li>
  <li><span>Выбор оптимальной марки масла для вашего авто.</span></li>
</ul><br>
<div class="content-img-block"><img src='assets/posts/maslo1.jpg' alt="Выбор моторных масел на рынке - огромен" />Выбор моторных масел на рынке - огромен</div>
<div class="content-img-block"><img src='assets/posts/maslo3.jpg' alt="Важный расходный компонент автомобиля - маслянный фильтр" />Важный расходный компонент автомобиля - маслянный фильтр</div>
<strong>Выбор масла и маслянного фильтра</strong>
<p>Дело в том, что от вида и качества масла во многом зависит работа двигателя вашего авто. В настоящее время на рынке предлагается большое разнообразие моторных масел, и основная задача водителя – выбрать наиболее качественное.</p>
<p>В нашей компании вам это делать не придется, поскольку наши специалисты знают, какое масло будет самым лучшим для вашего автомобиля, исходя из таких параметров, как:</p>
<ul>
  <li><span>Цена;</span></li>
  <li><span>Вязкость;</span></li>
  <li><span>Наличие дополнительных примесей.</span></li>
</ul>

<p>Только благодаря грамотному подходу к выбору подходящего масла, вы сможете наслаждаться качественным и безопасным процессом езды.</p>
<p>Сегодня на рынке комплектующих материалов к автомобилям предлагается множество фильтров, каждый из которых обладает своими преимуществами. Но основная задача – выбрать тот, который больше всего будет подходить к марке и модели вашего «железного зверя». Наши специалисты помогут определиться с выбором и сделают это очень быстро.</p>
<p>Мы предлагаем хорошие услуги по выгодным ценам, а наши сотрудники всегда готовы оказать помощь в любом вопросе. Вместо того чтобы заниматься заменой масел и фильтров самостоятельно, доверьте решение этой проблемы настоящим профессионалам. Мы за то, чтобы все ваши поездки были максимально комфортными и безопасными.</p>
-->